html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color:#f08745;
  margin: 0;
}
.content {
  flex: 1;
  background-color: #97c4e1;
  padding: 20px;
  font-size: 30px;
}

.footer{
	background-color: #95b3cd;
	padding: 20px;
	font-size: 20px;
	text-align: center;
}